<div id="notice"></div>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= f.label :first_name, "First name" %>
      <%= f.text_field(:first_name) %>

      <%= f.label :last_name, "Last name" %>
      <%= f.text_field :last_name %>

      <%= f.label :email, "E-pasts" %>
      <%#= f.text_field :email, :onchange => "this.style.backgroundColor='#990000'" %>
      <%= f.text_field :email, id: "email_field" %>

      <%= f.label :password, "Parole" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm password" %>
      <%= f.password_field :password_confirmation %>

        <%= f.submit "Signup", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
